

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


header{
    position: relative;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    margin-bottom: 150px;
    background-image: url("/assets/img/headerimg2.webp");
    // background-color: green;
    .overlay{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: rgba(0,0,0,0.7);
    }
    .header-block{
        position: relative;
        z-index: 100000;
        background: rgba(168, 164, 162, 0.11);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0.6px);
        -webkit-backdrop-filter: blur(0.6px);
        border-bottom: none;
        display: flex;
        justify-content: center;
        .contanier{
            width: 80%;
            .header-contact{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 40px;
                .contact-info{
                    color: #A8A4A2;
                    i{
                        padding-right: 10px;
                    }
                }
            }
        }
    }
    .hidden-menu{
        position: relative;
        top: 0;
        z-index: 10000000;
        background-color: #FFF;
        display: none;
        box-shadow: 3px 2px 161px -27px rgba(0,0,0,0.68);
        -webkit-box-shadow: 3px 2px 161px -27px rgba(0,0,0,0.68);
        -moz-box-shadow: 3px 2px 161px -27px rgba(0,0,0,0.68);
        .contanier{
            position: relative;
            z-index: 1000000;
            width: 80%;
            margin: 0 auto;
            .row-header{
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .page-icon{
                    display: flex;
                    align-items: center;
                    height: 100%;
                    font-weight: 900;
                    font-size: 25px;
                    color: #000;
                }
                .nav-bar{
                    width: 50%;
                    height: 100%;
                    .nav-list{
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: space-between;
                        .nav-item{
                            .nav-link{
                                color: #000;
                                font-size: 18px;
                                font-weight: bold;
                            }
                            .active{
                                color: #C8A97E;
                            }
                            .different-link{
                                font-size: 18px;
                                padding:  12px;
                                font-weight: bold;
                                border-radius:  5px; 
                                color: #FFF;
                                background-color: #C8A97E;
                            }
                        }
                    }
                }
                .hidden-burger-menu{
                    display: none;
                    background-color:green;
                    cursor: pointer;
                    i{
                        font-size: 25px;
                    }
                    .menu-text{
                        font-size: 25px;
                    }
                }
                .hidden-burger-block{
                    width: 100%;
                    top: 100%;
                    position: absolute;
                    background-color: green;
                    display: none;
                    .burger-link{
                        display: block;
                        font-size: 20px;
                        background-color: red;
                    }
                }
                .hid-active{
                    display: block;
                    z-index: 1000;
                }
            }
        }
    }
    .row{
        position: relative;
        z-index: 10000000;
        border-bottom: 1px solid #FFF;
        .contanier{
            position: relative;
            z-index: 1000000;
            width: 80%;
            margin: 0 auto;
            .row-header{
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .page-icon{
                    display: flex;
                    align-items: center;
                    height: 100%;
                    font-weight: 900;
                    font-size: 25px;
                    color: #FFF;
                }
                .nav-bar{
                    width: 50%;
                    height: 100%;
                    .nav-list{
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: space-between;
                        .nav-item{
                            .nav-link{
                                color: #FFF;
                                font-size: 18px;
                                font-weight: bold;
                            }
                            .active{
                                color: #C8A97E;
                            }
                            .different-link{
                                font-size: 18px;
                                padding: 20px 15px;
                                font-weight: bold;
                                border-radius:  5px; 
                                color: #FFF;
                                background-color: #C8A97E;
                            }
                        }
                    }
                }
                .burger-menu{
                    display: none;
                    background-color: red;
                    cursor: pointer;
                    i{
                        font-size: 25px;
                    }
                    .menu-text{
                        font-size: 25px;
                    }
                }
                .burger-block{
                    width: 100%;
                    top: 100%;
                    position: absolute;
                    background-color: green;
                    display: none;
                    .burger-link{
                        display: block;
                        font-size: 20px;
                        background-color: red;
                    }
                }
                .active-burger{
                    display: block;
                    z-index: 1000;
                }
            }
        }
    }
    .resturant-name-block{
        position: relative;
        z-index: 1000000000;
        // background-color: red;
        // top: 60%;
        display: flex;
        justify-content: center;
        align-items: end;
        height: 300px;
        .name-block{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            gap: 10px;
            // background-color: green;
            .best-head{
                font-size: 35px;
                color: white;
            }
            .page-link{
                display: flex;
                gap: 20px;
                // background-color: orange;
                a{
                    font-size: 20px;
                    color:#000;
                    color: white;
                }
                span{
                    color: white;
                    font-size: 20px;
                    // color: #000;
                }
            }
        }
    }
}

.blog-section{
    background-color: #FAFAFA;
    .contanier{
        width: 80%;
        margin: 0 auto;
        .blog-block{
            width: 100%;
           .blog-header{
                width: 100%;
                position: relative;
                margin-bottom: 90px;
                .service-head-different-font{
                    font-size: 90px;
                    left: 50%;
                    transform: translate(-50%);
                    top: -70px;
                    color: #C8A97E;
                    font-family: "Dancing Script", cursive;
                    position: absolute;
                }
                .service-header{
                    position: relative;
                    z-index: 10;
                    font-size: 50px;
                    color: #333333;
                    text-align: center;
                }
            }
            .blog-gallery{
                height: 1000px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding:0  20px;
                gap: 30px;
                .blog-cart-parent{
                    width: 33.3%;
                    height: 50%;
                    background-color: tan;
                    margin: 0 -20px;
                    .blog-cart{
                        width: 100%;
                        height: 100%;
                        .link-img{
                            display: block;
                            width: 100%;
                            height: 60%;
                            // background-color: red;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .cart-info{
                            width: 100%;
                            height: 40%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            padding: 10px 40px;
                            background-color: white;
                            .date-par{
                                color: #B2B2B2;
                                font-size: 18px;
                            }
                            .food-taste{
                                font-size: 25px;
                            }
                            .read-block{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 15px 0px;
                                .read-link{
                                    color: #333333;
                                }
                                .number-block{
                                    i{
                                        color: #B2B2B2;
                                        font-size: 20px;
                                    }
                                    .read-text{
                                        color: #B2B2B2;
                                        margin-left: 5px;
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


footer{
    background-color: #141313;
    height: 500px;
    padding: 80px 0;
    margin-top: 100px;
    .contanier{
        width: 80%;
        height: 100%;
        margin: 0 auto;
        .footer-block{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            margin: 0 -10px;
            .footer-parent-element{
                padding: 0 10px;
                width: 25%;
                height: 100%;
                // background-color: #C8A97E;
                .footer-element{
                    width: 100%;
                    height: 100%;
                    padding: 20px 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    gap: 20px;
                    // background-color: red;
                    .head-text{
                        // background-color: yellow;
                        height: 20%;
                        color: #fff;
                        font-size: 25px;
                    }
                    .foot-info{
                        line-height: 30px;
                        font-size: 18px;
                        color: #B3B3B3;
                    }
                    .foot-icon-block{
                        width: 100%;
                        display: flex;
                        gap: 20px;
                        // background-color: yellow;
                        .foot-link{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            padding: 15px 18px;
                            background-color: rgba(0, 0, 0, 0.6);
                            i{
                                color: #FFF;
                                font-size: 20px;
                            }
                        }
                    }
                    .foot-list{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .foot-list-element{
                            width: 100%;
                            padding-right: 30px;
                            display: flex;
                            justify-content: space-between;
                            .list-day{
                                color: #B3B3B3;
                                font-size: 20px;
                            }
                            .list-date{
                                color: #B3B3B3;
                                font-size: 20px;
                            }
                        }
                    }
                    .foot-gallery{
                        width: 100%;
                        background-color: white;
                        height: 60%;
                        display: flex;
                        flex-wrap: wrap;
                        .foot-img{
                            display: block;
                            height: 50%;
                            width: 33.3%;
                            img{
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    form{
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                        input{
                            display: block;
                        }
                        #email-footer{
                            color: #B3B3B3;
                            text-align: center;
                            padding: 15px;
                            font-size: 18px;
                            outline: none;
                            border: none;
                            background-color: #2C2B2B;
                        }
                    }
                    #submit{
                        color: #FFF;
                        background-color: #C8A97E;
                        outline: none;
                        border: none;
                        text-align: center;
                        font-size: 18px;
                        padding: 18px;
                    }
                }
            }
        }
    }
}
